version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: ecommerce-mysql
    restart: always
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./sql:/docker-entrypoint-initdb.d
      - ./updates:/docker-entrypoint-updates.d

  adminer:
    image: adminer
    container_name: ecommerce-adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  mysql_data:
